<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.jpeg' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
 	<%= render 'layouts/nav' %>
 	<div class="container">
		<div id="main_content">
			<div id="header">
				<% if current_page?(root_path) %>
					<p>All Posts</p>
				<% elsif current_page?(about_path) %>
					<p>About</p>
				<% else %>
					<%= link_to "Back to All Posts", root_path %>
				<% end %>
			</div>

			<% flash.each do |name, msg| %>
				<%= content_tag(:div, class: "alert") %>
			<% end %>

			<%= yield %> 
		</div>
	</div>
  </div>
</body>
</html>
