<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.jpeg' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
 	<%= render 'layouts/nav' %>
 	<div class="container padding">
		<div id="main_content">
			<div id="header">
				<% if current_page?(root_path) %>
					<p>All Posts</p>
				<% elsif current_page?(about_path) %>
					<p>About</p>
				<% else %>
					<%= link_to "Back to All Posts", root_path %>
				<% end %>
			</div>

	<% if notice %>	
	  <div class="alert alert-info alert-dismissable">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <strong><span class="notice"><%= notice %></span></strong> 
	  </div> 
	<% elsif alert %>
	  <div class="alert alert-info alert-dismissable">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <strong><span class="alert"><%= alert %></span></strong> 
	  </div>
	<% end %> 

			<%= yield %> 
		</div>
	</div>
  </div>
</body>
</html>
